*.a
*.o
*~
*.dylib
.deps
.dirstamp
/autom4te.cache
/config.h
/config.log
/config.status
/stamp-h1
Makefile
Makefile.in
bin
build
build-2.3
bugs
conda
conda-bld
data
dist
dnanexus
glalaxy
index_dir
misc
run
rRNA_databases_new
tmp
test_dir
.vs
.vscode
3rdparty/indexed_bzip2/
3rdparty/rocksdb/
3rdparty/zlib/
3rdparty/concurrentqueue/
test.sh
