# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.a
*.o
*~
.deps
.dirstamp
/autom4te.cache
/config.h
/config.log
/config.status
/stamp-h1
Makefile
Makefile.in