name: 2 paired reads files flat + paired_in + joint FWD/REV output
info: |
  Test the new option '-out2' (issue 202)
  Test different E-values
  ...                               paired_in
  -e      min_sw  hits  2*hits   aligned   other
   1          48  9188
   0.001      60  8956
   1e-7       75  7919    
   1e-12      95  6501    
   1e-15     106  5307    
args:
  -ref: [ {{ SMR_SRC }}/data/silva-arc-16s-database-id95.fasta ]
  -reads:
   - {{ DATA_DIR if DATA_DIR }}/bio/reads/rna/DRR121111_1_5k.fastq # 5,000 reads: Mouse gut metagenome of 16S rRNA
   - {{ DATA_DIR if DATA_DIR }}/bio/reads/rna/DRR121111_2_5k.fastq # 5,000 reads: Mouse gut metagenome of 16S rRNA
  -fastx:
  -other:
  -blast: '1'
  -paired_in:
  #- -e
  #- '1e-15'
  #- -out2
  #- -max_read_len
  #- '100000'
  -threads: '{{THREADS or 4}}'
  -dbg-level: '{{DBG_LEVEL or 0}}'
  -task: '{{TASK or 4}}'
  -workdir: {{WRK_DIR}}
validate:
  func:
  variant: sanger # fastq quality variant
  files:
    aligned.log:
      num_reads: 10000
      num_hits: 9188
      num_fail: 812
    aligned.blast:
      num_recs: 9188
    aligned.fq: 9852  # paired_in
    other.fq: 148