# t19_5:
name: 2 ref, 2 reads, flat, out2, zip out
info: |
  Test zip out for flat input
         input type        |               output type                  |    alignment type
    refs  reads  zip  pair | pair_in  pair_out  out2  sout  zout  other | best  N  min_lis seeds
      2     2     0    1       0        0       1     0     1      0      1    1     2      2
args:
  -ref:
    - {{ SMR_SRC }}/data/silva-bac-16s-database-id85.fasta
    - {{ SMR_SRC }}/data/silva-arc-16s-database-id95.fasta
  -reads:  # Mouse gut metagenome of 16S
    - {{ DATA_DIR if DATA_DIR }}/bio/reads/rna/DRR121111_1_5k.fastq  # 5,000 reads
    - {{ DATA_DIR if DATA_DIR }}/bio/reads/rna/DRR121111_2_5k.fastq  # 5,000 reads
  -fastx:
  -blast: '1'
  -out2:
  -zip-out: '1'
  -v:
  -threads: '{{THREADS or 4}}'
  -workdir:  {{ WRK_DIR }}
validate:
  func:
  variant: sanger  # fastq quality variant
  files:
    aligned.log:
      num_reads:   10000
      num_hits:     9833
      num_fail:      167
    aligned.blast:
      num_recs:     9833
    aligned_fwd.fq.gz: 4876
    aligned_rev.fq.gz: 4957
  runtime:
    win:
      - threads: 8
        sec: [1.24292, 0.322213, 0.566375] # align, log, reports