# t20_1
name: 2 ref, 1 flat pair, paired_in, out2
info: |
  Test the new option '-out2' (issue 202)
            input type         |               output type                  |    alignment type
        refs  reads  zip  pair | pair_in  pair_out  out2  sout  zout  other | best  N  min_lis seeds
          2     1     0    1       1        0        1     0     0      1       1   1    2       2
args:
  -ref:
    - {{ REF_DIR }}/silva-bac-16s-database-id85.fasta
    - {{ REF_DIR }}/silva-arc-16s-database-id95.fasta
  -reads:  # Mouse gut metagenome of 16S rRNA
    - {{ DATA_DIR if DATA_DIR }}/DRR121111_5k_paired.fastq  # 10000 reads 7329 KB
  -fastx:
  -other:
  -blast: '1'
  -paired:
  -paired_in:
  -out2:
  -v:
  -threads: '{{THREADS or 4}}'
  -workdir: {{ WRK_DIR }}
validate:
  func:
  variant: sanger # fastq quality variant
  files:
    aligned.log:
      num_reads: 10000
      num_hits:   9821  # 9833/e=1
      num_fail:    179  # 167/e=1
    aligned.blast:
      num_recs:     9821  # 9833/e=1
    aligned_fwd.fq: 4961  # 4968/e=1
    aligned_rev.fq: 4961  # 4968/e=1
    other_fwd.fq:     39  # 32/e=1
    other_rev.fq:     39  # 32/e=1