# t38
name: 1 ref, 2 gz pair x 2GB/~50M reads
info: |
  xxx
        input type         |               output type                  |    alignment type
    refs  reads  zip  pair | pair_in  pair_out  out2  sout  zout  other | best  N  min_lis seeds
     1      2     1    1       0        0        0     0     0      0      1    1     2      2
args:
  -ref: [ {{ REF_DIR }}/silva-bac-16s-database-id85.fasta ]  # 12,734,464 ~12MB
  -reads: 
   - {{ DATA_DIR }}/SRR1635864_1.fastq.gz  # 2 GB 24,654,594 reads
   - {{ DATA_DIR }}/SRR1635864_2.fastq.gz  # 2 GB 24,654,594 reads
  -v:
  -blast: '1 cigar qcov'
  -sam:
  -threads: '{{THREADS or 8}}'
  -workdir: {{ WRK_DIR }}
validate:
  func:
  variant: sanger
  files:
    aligned.log:
      num_reads: 49309188
      num_hits:    624802  #   687225/e=1
      num_fail:  48684386  # 48621963/e=1
    aligned.blast.gz:
      num_recs:   624802  # 687225/e=1
      n_yid_ycov:    201 
      n_yid_ncov: 466062  # 502288/e=1
      n_nid_ycov:   1244  #   1222/e=1
      n_denovo:   157295  # 183514/e=1
    aligned.sam.gz:
time:
  wsl_ubuntu_24.04.2_LTS_xps15i9_16_32:  # 20260613 stats
    7.0.0:
    - threads: 8
      times:
        # indexing  read_count  readfeed  read_init  align    summary  report   tot,sec  tot,min
        -             23.22       81.22    418.96    1135.43    0.4    504.39   2157.74  35.96
        -             25.37       79.31              1227.68    0.4    558.10   2270.2   37.83  # ~5% - 'resume' drag?
        -             23.90       66.22              1390.62    0.4    599.93
  win_8_16:  # 20210520 seems unusually slow today
    host: Windows 10 + 8 CPUs + 16GB RAM
    4-3-3:
    - threads: 8
      total:  # sec no indexing
      # indexing, read count, readfeed, align, summary, report
      totals: [ 0, 227, 2237, 1107, 1, 509]
