# t41:
name: issue 231 8x1M
info: |
  stress test - 8 reference databases + 1M reads
  refs  reads  zip  pair  pair_in  pair_out  out2  sout  zout  other
  ------------------------------------------------------------------- output type
   8      2     1    1       -        -       1     1     0      1
  best  N  min_lis seeds
  ----------------------  alignment type
    1   1     2      2
args:
  -ref: 
    - {{ REF_DIR }}/silva-euk-28s-id98.fasta  # 15MB
#    - {{ REF_DIR }}/silva-euk-18s-id95.fasta
#    - {{ REF_DIR }}/silva-bac-23s-id98.fasta
    - {{ REF_DIR }}/silva-bac-16s-id90.fasta  # 19MB
#    -{{ REF_DIR }}/silva-arc-23s-id98.fasta
#    -{{ REF_DIR }}/silva-arc-16s-id95.fasta
#    -{{ REF_DIR }}/rfam-5s-database-id98.fasta
#    -{{ REF_DIR }}/rfam-5.8s-database-id98.fasta
  -reads:
    - {{ DATA_DIR }}/SRR1635864_1_20M.fastq.gz  # 399MB, 5M reads
    - {{ DATA_DIR }}/SRR1635864_2_20M.fastq.gz  # 402MB, 5M reads
  -fastx:
  -blast: '1 cigar qcov'
  -out2:
  -sout:
  -other:
  -threads: '{{THREADS or 8}}'
  -index:  '{{INDEX or 1}}'  # 1 is the default
  -workdir: {{ WRK_DIR }}
cwd: {{ SMR_SRC }}
validate:
  func:
  variant: sanger # fastq quality variant
  files:
    aligned.log:
      num_reads: 1000000
      num_hits:    49909
      num_fail:   950091
    aligned.blast:
      num_recs:    49909
      n_yid_ycov:    181
      n_yid_ncov:  33018
      n_nid_ycov:    494
      n_denovo:    16216
    aligned_paired_fwd.fq.gz:     24509
    aligned_paired_rev.fq.gz:     24509
    aligned_singleton_fwd.fq.gz:    435
    aligned_singleton_rev.fq.gz:    456
    other_paired_fwd.fq.gz:      474600
    other_paired_rev.fq.gz:      474600
    other_singleton_fwd.fq.gz:      456
    other_singleton_rev.fq.gz:      435
time:
  ubuntu_26.04_xps15i9_16_32:  # 20260623 Tue
    7.0.0:
    - threads: 8
      times:
        # indexing  read_count  readfeed  read_init  align    summary  report   tot,sec  tot,min
        -             2.4         4.6        2.1     69+120     0.4     53        252      4
  win_8_16:
    host: Windows 10 + 8 CPUs + 16 GiB RAM
    4-2-0:
      threads: 8
      tot: 225 # sec - ~4min - no indexing
      align: [ 15, 16, 18, 21, 11, 13, 13, 11 ]
    4-3-1: 
      threads: 8
      total: 391 # sec  ~7min
      # indexing, read count, split, idx stats, align, summary, report
      totals: [ 216, 3, 31, 3, 88, 3, 47 ]
      align:  [ 11, 12, 16, 18, 6, 8, 9, 6 ] # sec
  ubuntu18_vbox:
    host: Windows 10 + 8 CPUs + 16 GiB RAM
    4-3-1:
      threads: 4
      total:
      totals: [ 0, 5, 0, 4, 127, 4, 25]
      align:
  ubuntu18_4_16_32:
    host: AWS t3.xlarge + Ubuntu 18 + 4 cpu + 16 GB RAM + 32 GB HD
    4-2-0:
      total: 315 # sec - python trace from command sent to response received
      align: [  29, 29, 32, 35, 16, 19, 23, 16 ] # sec
    4-3-1:
      total: 502 # as returned by aws.py
      # indexing, read count, split, idx stats, align, summary, report
      totals: [ 221, 4, 58, 5, 141, 5, 29 ]
      align:  [ 23, 22,25, 27, 9, 11, 1, 8 ] # sec
  ubuntu18_8_16_32: #  c5.2xlarge 
    host: c5.2xlarge  cpu:8 ram:16  Intel Xeon Platinum 8000 compute optimized  AWS
    instance.create: 24 # sec
    smr.install:     113 # sec  aws.yaml:sortmerna.env.install
    4-3-1:
      - threads: 4
        date: 20210307 Sun
        total: 379 # as returned by aws.py
        # indexing, read count, split, idx stats, align, summary, report
        totals: [ 191, 3.6, 57, 4.1, 95, 4.1, 17]
        aws.cmd.id: 11df892b-85e2-4f05-9ba3-1c5691e140da
        aws.trace: {{ DATA_DIR }}/logs/aws/ssm/ubuntu18_8_16_32_t41_th4_20210307_0941.stdout
        aws.yaml: sortmerna.data.load:t41,sortmerna.test.run
      - threads: 8
        total: 160 # no indexing
        totals: [ 191, 3.6, 57, 4.1, 65, 4.1, 15]
        aws.cmd.id: 0973e4a5-17f6-41cf-a259-fc8988477969
        aws.trace: {{ DATA_DIR }}/logs/aws/ssm/ubuntu18_8_16_32_t41_th8_20210307_0946.stdout
        date: 20210307 Sun
  ubuntu18_8_32_32:
    threads: 8
    host: AWS t3.2xlarge + Ubuntu 18 + 8 cpu + 32 GB RAM + 32 GB HD
    4-2-1:
      total: 248 # sec as returned by aws.py
      reads_stats_calc: [1.65, 1.64, ]
      index_stats_calc: [4.66, ]
      # alignment cpu load: [ max,   min,  avr]
      cpu_load_align: [768, 534,    ] # all cores working
      align: [  18, 19, 17, 19, 11, 13, 15, 11 ] # sec
    4-3-1:
      threads: 8
      total:
      # indexing, read count, split, idx stats, align, summary, report
      totals: []
      align:
  ubuntu18_16_32_32:
    host:  c5.4xlarge  cpu:16 ram:32  Intel Xeon Platinum 8000  compute optimized
    instance.create: 27 # sec
    smr.install:    113 # sec  aws.yaml:sortmerna.env.install
    4-3-1:
      - threads: 8
        total: 297 # as returned by aws.py, includes indexing, data load
        # indexing, read count, split, idx stats, align, summary, report
        totals: [ 170, 3.4, 54, 4.1, 45, 4.1, 11 ]
        aws.cmd.id: 3a6e7afb-057c-4a1d-a438-3f23e7d49dc0
        aws.trace: {{ DATA_DIR }}/logs/aws/ssm/ubuntu18_16_32_32_t41_th8_20210307_1023.stdout
        aws.yaml: sortmerna.data.load:t41,sortmerna.test.run
      - threads: 16
        total: 113 # no indexing
        totals: [ 170, 3.4, 54, 4.1, 32, 4.1, 10 ]
        aws.cmd.id: 7655c85c-2060-423e-9d3c-c23301c422d8
        aws.trace: {{ DATA_DIR }}/logs/aws/ssm/ubuntu18_16_32_32_t41_th16_20210307_1027.stdout
  ubuntu18_16_64_32:
    host: AWS m5.4xlarge + Ubuntu 18 + 16 cpu + 64 GB RAM + 32 GB HD
    4-2-1:
      # alignment cpu load: [ max,   min,  avr]
      cpu_load_align:       [1540, 897.7,    ] 
      total: 507.63 # sec - python trace from command sent to response received - with indexing
      reads_stats_calc: [1.63729, 1.63938, ]
      index_stats_calc: [4.62, ]
      align: [ 12, 12, 13, 13, 7, 8, 8, 7 ] # sec per index part
  ubuntu18_32_128_32:
    # ~10 min to setup the instance and run the test: 1.536 / 6 = 0.256 per test
    host: AWS m5.8xlarge + Ubuntu 18 + 32 cpu + 128 GB RAM + 32 GB HD
    # alignment cpu load: [ max,   min,  avr]
    cpu_load_align:       [] 
    total: 485.936 # sec - python trace from command sent to response received - with indexing
    reads_stats_calc: [4.51]
    index_stats_calc: [ ]
    align: [ 8, 8, 8, 9, 5, 6, 6, 6] # sec
memory:
  prior_idx_load: []
  idx_load:       []
  ref_load:       []
  align_done:     []
  idx_ref_unloaded: