
# t46:
name: 1 ref, 1 gz pair, iss 288-2
info: |
  segfault - iss 288-2   tests 19x,20x are similar with a smaller reference file
      input type         |               output type                  |    alignment type
  refs  reads  zip  pair | pair_in  pair_out  out2  sout  zout  other | best  N  min_lis seeds
  -------------------------------------------------------------------------------------------
    1     1     1     1       0        0        0     0     0     1       1   1     2      2
args:
  -ref:
    - {{ REF_DIR }}/smr_v4.3_default_db.fasta  # 140MB
    #- {{ REF_DIR }}/silva-bac-16s-database-id85.fasta  # For fast test. num_hits is less though.
  -reads:
    - {{ DATA_DIR if DATA_DIR }}/DRR121111_5k_paired.fastq.gz  # 10000 reads
  -fastx:
  -other:
  -paired:
  #-paired_out  # runs OK with this too
  -num_alignments: '1'
  -v:
  -dbg-level: '2'
  -threads: '{{THREADS or 4}}'
  -index: '{{INDEX or 1}}'  # 1 is the default
  -task: '{{TASK or 4}}'  # 4 is default
  -workdir: {{ WRK_DIR }}
cwd: {{ SMR_SRC }}
validate:
  func:
  variant: sanger # fastq quality variant
  files:
    aligned.log:
      num_reads:  10000
      num_hits:    9838  # 9847/e=1
      num_fail:     162  # 153/e=1
    aligned.fq.gz: 9838  # 9847/e=1
    other.fq.gz:    162  # 153/e=1
  indices:
    smr_v4.3_default_db:
      stats:
        numseq: 73977
        full_len: 133533894
        part_num: 1
        seed_win_len: 18
        background_freq: {A: 0.2576, C: 0.2225, G: 0.2958, T: 0.2241}
        parts:
          - numseq_part: 73977
            seq_part_size: 146741693
      files:
        stats: 3384965
        bursttrie_0.dat: 693310680
        pos_0.dat: 1191134108
        kmer_0.dat: 1048576
      kmer:
        num_nonzero: 262144
        total_count: 132465678
        max_count: 50089
      pos:
        num_elements: 37168350
        total_positions: 130307588
        max_positions: 10000
time:
  ubuntu_26.04_LTS_xps15i9_16_32:  # 20260703 Fri
    7.0.0:
      threads: 4
      times:
        # indexing  read_count  readfeed  read_init  align    summary  report   tot,sec  tot,min
        -    331       0.03       0.05      0.02      14       0.18      0.6     331+16  
  wsl_ubuntu_24.04.2_LTS_xps15i9_16_32:  # data/sortmerna/logs/20260503_102237_t46_xps15i9_wsl_ubuntu_v540.txt
    5.4.0:  # 20260503 Sun
      threads: 2
      times:
        # indexing  read_count  readfeed  align  summary  report   tot,sec
        - 1137.03     0.10        0.20    46.37   0.41     5.44    1189.55
