

# t46:
name: 1 ref, 1 gz pair, iss 288-2
info: |
  segfault - iss 288-2   tests 19x,20x are similar with a smaller reference file
      input type         |               output type                  |    alignment type
  refs  reads  zip  pair | pair_in  pair_out  out2  sout  zout  other | best  N  min_lis seeds
  -------------------------------------------------------------------------------------------
    1     1     1     1       0        0        0     0     0     1       1   1     2      2
args:
  -ref:
    - {{ REF_DIR }}/smr_v4.3_default_db.fasta  # 140MB
    #- {{ REF_DIR }}/silva-bac-16s-database-id85.fasta  # For fast test. num_hits is less though.
  -reads:
    - {{ DATA_DIR if DATA_DIR }}/DRR121111_5k_paired.fastq.gz # 10000 reads
  -fastx:
  -other:
  -paired:
  #-paired_out  # runs OK with this too
  -num_alignments: '1'
  -v:
  -dbg-level: '2'
  -threads: '{{THREADS or 8}}'
  -index: '{{INDEX or 2}}'  # 2 is the default
  -task: '{{TASK or 4}}'  # 4 is default
  -workdir: {{ WRK_DIR }}
cwd: {{ SMR_SRC }}
validate:
  func:
  variant: sanger # fastq quality variant
  files:
    aligned.log:
      num_reads:  10000
      num_hits:    9847
      num_fail:     153
    aligned.fq.gz: 9847
    other.fq.gz:    153
