name: 1 ref, 1 flat fasta version < 6.x
info: |
  test filtering on reads containing multiple 'NNNNNNNNNNNNNNN....'
      input type         |               output type                  |    alignment type
  refs  reads  zip  pair | pair_in  pair_out  out2  sout  zout  other | best  N  min_lis seeds
    1     1     0    0       0        0         0     0    0      0      1    1     2      2
args:
  -ref: [ {{ REF_DIR }}/20260531_smr_v5.0.1_default_db.fasta ]  # 132M
  -reads: [ {{ DATA_DIR }}/20260531_reads_10000.fasta ]  # 10000 reads
  -fastx:
  -blast: '1 cigar qcov'
  -workdir: {{ WRK_DIR }}
  -threads: '{{THREADS or 4}}'
  -index: '{{INDEX or 2}}'  # 2 is the default
cwd: {{ SMR_SRC }}
validate:
  func:
  variant: sanger  # fastq quality variant
  files:
    aligned.log:
      num_reads: 10000
      num_hits:    239
      num_fail:   9761
      num_hits_db:
        euk_28s_id98: 0.51
    aligned.blast: 239
    aligned.fa: 239
  time:
    wsl_ubuntu_24.04.2_LTS_xps15i9_16_32:  # 20260421 Tue
      4.3.7:  # split reads
        threads: 8
        times:
          # indexing  read_count  readfeed  align    summary  report   tot,sec  tot,min
          -           256.074     256.101   5301.85  3.90     1720.19  7538.12  125.64
      5.0.0:  # at least 35% faster overall than using split even with the split already done
        threads: 8
        times:
          # indexing  read_count  readfeed  align    summary  report   tot,sec  tot,min
          -           26.353      50.223    4208.52  3.27     1307.47  5595.84  93.26
  indices:
    20260531_smr_v5.0.1_default_db:
      stats:
        numseq: 4935
        full_len: 14441581
        part_num: 1
        seed_win_len: 18
        background_freq: {A: 0.2548, C: 0.2216, G: 0.2882, T: 0.2354}
        parts:
          - numseq_part: 4935
            seq_part_size: 14945070
      files:
        stats: 79099
        bursttrie_0.dat: 90124804
        pos_0.dat: 133268128
        kmer_0.dat: 1048576
      kmer:
        num_nonzero: 261624
        total_count: 14614779
        max_count: 6437
      pos:
        num_elements: 4611529
        total_positions: 14352751
        max_positions: 4034
