body {
    background-color: rgb(30, 45, 46);
    color: rgb(250,251,252); /*	250, 251, 252*/
}
.high {
    color: rgb(100, 100, 200)
}
a:link {
    color: rgb(200, 240, 240);
}
a:visited {
    color: rgb(150, 200, 200);
}
h1, h2, h3 {
    color: rgb(192, 192, 192);
}
.code {
    color: rgb(209, 232, 255); /**/
    background-color: rgb(22, 33, 34);
}