name: build on Linux

on:
  workflow_dispatch:

concurrency: 
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read
    
jobs:
  build-linux:
    name: build on Linux
    runs-on: ubuntu-latest
    steps:
    - name: git checkout
      uses: actions/checkout@v4
    - name: build
      run: |
        wget "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
        bash Miniforge3-$(uname)-$(uname -m).sh -b
        eval "$(conda shell.bash activate)"
        mamba create -f conda_build_env.yaml
        mamba activate sortmerna-build
        python setup.py -n all
        echo "=== listing dist/ ==="
        ls -l ./dist
    - name: upload
      uses: actions/upload-artifact@v4
      with:
        retention-days: 3
        path: |
          dist/sortmerna*Linux.deb
          dist/sortmerna*Linux.sh
          dist/sortmerna*Linux.tar.gz
    
