name: build on macos  # with AppleClang

on:
  workflow_dispatch:

concurrency: 
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read
    
jobs:
  build-osx:
    name: build on macos arm64
    runs-on: macos-latest  # arm64 as of 20260124 Sat https://github.com/actions/runner-images

    steps:
    - name: git checkout
      uses: actions/checkout@v4

    #- name: install gcc-11
    #  run: |
    #    brew install gcc@11

    #- name: verify gcc
    #  run: gcc --version

    - name: install conda
      run: |
        wget "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
        bash Miniforge3-$(uname)-$(uname -m).sh -b -p "${HOME}/conda"
        source "${HOME}/conda/etc/profile.d/conda.sh"
        source "${HOME}/conda/etc/profile.d/mamba.sh"
        #conda activate
        eval "$(conda shell.bash activate)"
        mamba install -c conda-forge -y pyyaml jinja2 requests ninja cmake

    - name: build
      run: |
        source "${HOME}/conda/etc/profile.d/conda.sh"
        source "${HOME}/conda/etc/profile.d/mamba.sh"
        conda activate
        conda env list
        python setup.py -n all
        echo "=== listing dist/ ==="
        ls -l ./dist
    - name: upload
      uses: actions/upload-artifact@v4
      with:
        retention-days: 3
        path: |
          dist/sortmerna*Darwin.7z
          dist/sortmerna*Darwin.sh
          dist/sortmerna*Darwin.tar.gz
    